<%= render partial: "shared/user", locals: { user: @user } %>
<div>
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>
<% @posts.each do |post| %>
  <%= render partial: "shared/post", locals: { post: post } %>
<% end %>