<div class="mt-5 d-flex">
  <img src=<%= user.photo %> alt="User photo" >
  <div class="d-flex ps-5">
    <h2 class="align-self-center"><%= user.name %></h2>
    <p class="align-self-end ms-5 mb-5">Number of posts: <%= user.posts_counter %></p>
  </div>
</div>